/* bmu_landing.css */


#wrap {
  width: 100%; height: auto; min-height: 10rem;
  font-family: sans-serif;
}

h1 {
  padding: 1rem; margin-bottom: 5rem; background-color: #cff;
  text-align: center; display: none;
}

/*---------------------------------------------------------------------------------*/


#formBox {
  margin: auto; ;
  width: 1035px; height: 510px; 
  background-image: url(../../../project/project_02_image/architecture_2256489.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  position: relative;
  width: 100%; height: 100%;
}


fieldset {
  position: absolute; left: 105px; top: 68px;
  width: 826px; height: 324px;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  margin: 0; padding: 0; border: 0; border-radius: 0.3rem;
}

legend {
  position: absolute; top: 27px; left: 59px; margin-bottom: 47px;
  width: 706px; height: 44px;
  border: 0; color: #fff; font-size: 2rem;
  text-align: center; line-height: 44px;
}


.first_wrap {
  width: auto; height: 47px; margin-top: 120px; margin-bottom: 10px;
  box-sizing: border-box;
}

#category {
  color: #999;
  width: 257px; height: 47px;
  margin-right: 15px;
  text-indent: 20px; font-weight: bold;
}

#subcategory {
  color: #999;
  width: 257px; height: 47px;
  margin-right: 15px;
  text-indent: 20px; font-weight: bold;
}

#find {
  width: 242px; height: 47px;
  background-color: #179dba;
  border: 0; color: #fff; font-weight: bold;
  border-radius: 0.3rem;
}


.checkBox {
  margin: auto;
  /*width: 385px;*/ width: 90%; text-align: center; height: 30px; color: #fff; 
  font-weight: thin; font-size: 0.8rem; background-color: #222; line-height: 30px;

}

.how {
  position: absolute;
  width: 113px; height: 16px;
  bottom: 30px; left: 50%; margin-left: -56px;
  color: #fff; font-size: 0.8rem;
  line-height: 16px;
}

#how {
  color: #fff; line-height: 16px; font-size: 0.8rem;
  background-color: transparent; border: 0;
  float: left;
}