/* adBox.css */

#adBox {
  overflow-y: hidden;
/* overflow - x,y가 있다
    x - 가로로 넘쳤을 경우, y - 세로로 넘쳤을 경우
    hidden - 지정 영역을 넘는 부분 숨김처리
    scroll - 넘침 여부와 관계 없이 스크롤 생성
    auto - 내용에 따라 스크롤 유무를 판단하여 처리
    normal - 아무런 처리를 하지 않는 기본 상태
    */

/*color
  black: #333;*/

  position: relative;
  margin-top: 4.25rem;
  width: 100%; height: 40.625rem; background-color: #ccc;}

/* indicator --------------------------------------------------*/
#adBox > .indicator {
  box-sizing: border-box; padding: 0.375rem 0.75rem;
  position: absolute; bottom: 1.5625rem; right: 1.375rem; z-index: 400;
  width: 8.375rem; height: 1.5625rem; background-color: #333; border-radius: 0.75rem;}

  .banner_play_btn {
    position: relative;
    float: left; width: 0.75rem; height: 0.75rem;}
  .banner_play_btn > button {
    display: none;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    cursor: pointer;
    background-image: url("../../../img/galleria_img/adBox/play_btn.png");
    background-repeat: no-repeat;}
    .play {
      background-position: -0.5rem 0;}
    .pause {
      background-position: 0.125rem 0;}
    .banner_play_btn > button.active {
      z-index: 100; display: block;}


  .banner_arrow_btn {
    float: left; margin-left: 0.5rem; width: 5.625rem; height: 0.75rem;}
  .banner_arrow_btn > button {
    cursor: pointer;
    width: 0.5rem; height: 100%;
    background-image: url("../../../img/galleria_img/adBox/slide_btn.png");
    background-repeat: no-repeat;}
  .prev_btn {
    float: left; background-position: 0 center;}
  .next_btn {
    float: right; background-position: 100% center;}


  .indi_selector_btn {
    position: absolute; top: 0.375rem; right: 1.625rem; 
    width: 4rem; height: 0.75rem;}
  .indi_selector_btn > li {
    margin-right: 0.3125rem; float: left;
    width: 0.75rem; height: 100%;}
  .indi_selector_btn > li:last-child {
    margin-right: 0;}
  .indi_selector_btn > li > a {
    background-image: url("../../../img/galleria_img/adBox/indicator_sel.png");
    background-position: -15px center;}
  .indi_selector_btn > li.active > a {background-position: 0.125rem center;}

/* banner -----------------------------------------------------*/
#adBox > .ad_banner {
  position: relative;
  width: 100%; height: 100%;}
#adBox > .ad_banner > div {
  position: absolute; top: 0; left: 0; z-index: 100;
  width: 100%; height: 100%;
  text-align: center; line-height: 40.625rem; font-size: 4rem; color: #fff;}
#adBox > .ad_banner > div.active {z-index: 110;}
/* 추후 자바스크립트를 통해 .active의 이름이 html문서에 적용되어 기능을 처리하도록 한다
ex: banner_01 뒤에 class .active가 붙어서 z-index가 110으로 적용되어 가장 앞으로 나오게 한다*/

.banner_01 {
  background-image: url("../../../img/galleria_img/adBox/banner_01.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;}
.banner_02 {
  background-image: url("../../../img/galleria_img/adBox/banner_02.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;}
.banner_03 {
  background-image: url("../../../img/galleria_img/adBox/banner_03.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;}
.banner_04 {
  background-image: url("../../../img/galleria_img/adBox/banner_04.png");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;}

/* scroll_view -------------------------------------------------------*/
#adBox > .scroll_view {
  position: absolute; bottom: 0; left: 50%; margin-left: -1.9375rem; z-index: 400;
  width: 3.875rem; height: 8.125rem; background-image: url("../../../img/galleria_img/adBox/scroll_info.png");}
/* 최초의 위치에서 오른쪽에 있는 스크롤 바의 위치를 파악하여
   그 비율 만큼 bottom값에 적용한다*/