/* newsBox.css */


#newsBox{
  box-sizing: border-box; padding-top: 6.25rem;
  width: 100%; height: 50.5rem;
  background-color: #999;
}

  #news_box {
    position: relative;
    margin: auto;
    width: 58.75rem; height: 37.9375rem;
    background-color: #fff;
  }

    #news_btn {
      position: absolute; bottom: 0; left: -3.5rem;
      box-sizing: border-box; padding: 0.6875rem 0.5rem;
      width: 3.5rem; height: 2.8125rem;
      background-color: #000;
    }

      .l_btn {
        float: left;
        width: 0.6875rem; height: 1.375rem;
        background-color: #fff;
      }

      .r_btn {
        float: right;
        width: 0.6875rem; height: 1.375rem;
        background-color: #fff;
      }
